body {background-image: url("https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/shared-assets/images/2022/07/eacom-franchise-hub-f23-hero-med-xl-7x2.png.adapt.crop7x2.1920w.png");
     background-attachment: fixed;}

div {display: flex;
     }

.wrapper{flex-direction: column;}

.header {justify-content: space-between;
flex-direction: row;}


.spacer {height: 30vh;}

.search { justify-content: center;
         align-items: center;
         border: solid;
         color: rgb(0, 0, 0);
         border-radius: 7px; 
         font-style: italic; 
         height: 1cm;
         }
.shop {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       gap: 10px;
}

.shop-item {
     flex-direction: column;

     margin: 10px;

     @media (max-width: 415px) {
          width: 40%;
     }

     @media (min-width: 415px) {
          width: 15%;
     }
 }


